/Backend/sweetshop/.idea
/Backend/sweetshop/.mvn
/Backend/sweetshop/.target
/Backend/sweetshop/HELP.md
/Backend/sweetshop/mvnw.cmd
/Backend/sweetshop/mvnw
/Backend/sweetshop/build/
/Backend/sweetshop/src/main/**/build/
/Backend/sweetshop/src/test/**/build/


/Frontend/sweet-shop/node_modules
/Frontend/sweet-shop/.pnp
/Frontend/sweet-shop/.pnp.js
/Frontend/sweet-shop/coverage
/Frontend/sweet-shop/build
/Frontend/sweet-shop/.DS_Store
/Frontend/sweet-shop/.env.local
/Frontend/sweet-shop/.env.development.local
/Frontend/sweet-shop/.env.test.local
/Frontend/sweet-shop/.env.production.local
/Frontend/sweet-shop/npm-debug.log*
/Frontend/sweet-shop/yarn-debug.log*
/Frontend/sweet-shop/yarn-error.log*

